<h1>Listing vital_signs</h1>

<table>
  <tr>
    <th>Height</th>
    <th>Weight</th>
    <th>Bp1</th>
    <th>Bp2</th>
    <th>Temperature</th>
    <th>Pulse</th>
    <th>Respiratory rate</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vital_signs.each do |vital_sign| %>
  <tr>
    <td><%= vital_sign.height %></td>
    <td><%= vital_sign.weight %></td>
    <td><%= vital_sign.bp1 %></td>
    <td><%= vital_sign.bp2 %></td>
    <td><%= vital_sign.temperature %></td>
    <td><%= vital_sign.pulse %></td>
    <td><%= vital_sign.respiratory_rate %></td>
    <td><%= link_to 'Show', vital_sign %></td>
    <td><%= link_to 'Edit', edit_vital_sign_path(vital_sign) %></td>
    <td><%= link_to 'Destroy', vital_sign, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Vital sign', new_vital_sign_path %>
