<div class="form_horizontal">
	<% if flash[:alert] %>
		<p class="text-error"><%= flash[:alert] %></p>
	<% end %>

	<%= form_tag ('/auth') do %>
		<legend>Please Log In</legend>
		<div class="control-group">
			<%= label_tag :email, 'Name:', :class => "control-label", :for => "inputEmail" %>
			<div class="controls">
				<%= text_field_tag :email, params[:email], :id => "inputEmail", :placeHolder => "Email" %>
			</div>
		</div>
		<div class="control-group">
			<%= label_tag :password, 'Name:', :class => "control-label", :for => "inputPassword" %>
			<div class="controls">
				<%= password_field_tag :password, params[:password], :id => "inputPassword", :placeHolder => "Password" %>
			</div>
		</div>
		<div>
			<%= submit_tag "Login", :class => "btn btn-primary" %>
		</div>
	<% end %>
</div>
