<h1>New visit</h1>

<%= form_tag patient_visits_path, :method => :post, :role => "role", :class => "form-horizontal" do |f| %>
  <% if @visit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@visit.errors.count, "error") %> prohibited this visit from being saved:</h2>

      <ul>
      <% @visit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <label class="form-label col-lg-offset-2 col-sm-10 col-md-10 col-lg-2" for="typelist">Visit Type</label>
    <div class="col-sm-10 col-md-10 col-lg-4">
      <%= select_tag("typelist", options_for_select([["Consultation", 1],["Progress Note", 2], ["Injection Session", 3]]), :class => "form-control", :place_holder => "Please select an option", :name => "visit[type_of]").html_safe %>
    </div>
  </div>
  <div class="form-group">
    <label class="form-label col-lg-offset-2 col-sm-10 col-md-10 col-lg-2" for="staffs">Staff</label>
    <div class="col-sm-10 col-md-10 col-lg-4">
      <%= select_tag("staffs", options_for_select(@staffs), :class => "form-control", :name => "visit[staff_id]") %>
    </div>
  </div>

  <div class="form-group">
    <label class="form-label col-lg-offset-2 col-sm-10 col-md-10 col-lg-2" for="staffs">Patient Info</label>
    <div class="col-sm-10 col-md-10 col-lg-4">
      <label class="form-control"><%= "#{@patient.firstname} #{@patient.lastname}" %></label>
    </div>
  </div>

  <div class="form-group">
    <label class="form-label col-lg-offset-2 col-sm-10 col-md-10 col-lg-2" for="chief_complaint">Chief Complaint</label>
    <div class="col-sm-10 col-md-10 col-lg-4">
      <input type="text" class="form-control" name="visit[chief_complaint]" />
    </div>
  </div>

  <div class="form-group">
    <label class="form-label col-lg-offset-2 col-sm-10 col-md-10 col-lg-2" for="plan">Plan</label>
    <div class="col-sm-10 col-md-10 col-lg-4">
      <input type="text" class="form-control" name="visit[plan]" />
    </div>
  </div>

  <div class="form-group">
    <label class="form-label col-lg-offset-2 col-sm-10 col-md-10 col-lg-2" for="assessment">Assessment</label>
    <div class="col-sm-10 col-md-10 col-lg-4">
      <input type="text" class="form-control" name="visit[assessment]" />
    </div>
  </div>

  <div class="form-group">
    <label class="form-label col-lg-offset-2 col-sm-10 col-md-10 col-lg-2" for="plan">Attestation Date</label>
    <div class="col-sm-10 col-md-10 col-lg-4">
      <input type="text" class="form-control" id="attest-date" name="visit[attestation_date]" />
    </div>
  </div>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Create</button>
    <%= link_to 'Back', patient_visits_path, :class => "btn" %>
  </div>

<% end %>
