<p id="notice"><%= notice %></p>

<p>
  <b>Type of:</b>
  <%= @visit.type_of %>
</p>

<p>
  <b>Associated note:</b>
  <%= @visit.associated_note_id %>
</p>

<p>
  <b>Date of:</b>
  <%= @visit.date_of %>
</p>


<%= link_to 'Edit', edit_visit_path(@visit) %> |
<%= link_to 'Back', visits_path %>
