<% heading = heading rescue nil %>
<% object = object rescue nil %>
<% columns = columns rescue nil %>
<% title = title rescue nil %>
<% model_object = model_object rescue nil %>
<% new_path = new_path rescue nil %>
<% options = options rescue nil %>

<div class="index-table">
  <div class="page-header">
    <h1><%= title %></h1>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <% heading.each do |title| %>
          <th><%= title %></th>
        <% end %>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% object.each do |item| %>
        <% id = item.id %>
        <tr>
          <% columns.each do |column| %>
            <% col = column.to_sym %>
            <td><%= item.send(col) %></td>
          <% end %>
          <td>
            <% unless options.blank? %>
              <%= self.send(options.to_sym, item) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_path,
              :class => 'btn btn-primary' %>
</div>

