<div class="index-table">
  <div class="page-header">
    <h1><%= title %></h1>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <% heading.each do |title| %>
          <th><%= title %></th>
        <% end %>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% object.each do |item| %>
        <% id = item.id %>
        <tr>
          <% columns.each do |column| %>
            <% col = column.to_sym %>
            <td><%= item.send(col) %></td>
          <% end %>
          <td>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_patient_path(item), :class => 'btn btn-mini' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        patient_path(item),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-mini btn-danger' %>

            <button class="btn btn-mini" id="side-selected" value="<%= id %>">View on Side Bar</button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_patient_path,
              :class => 'btn btn-primary' %>
</div>

<div id="side-nav-toggle">&nbsp;</div>
<div class="side-nav">
  <% specific = specific rescue nil %>
  <% specific = display_specific(specific) unless specific.blank? %>
  <%= specific %>
</div>

<script>
  $(document).ready(function(){
    $("#side-selected").off().on("click", function(){
      var id = $(this).val();
      $.ajax({
          type: "GET",
          url: "<%= patients_path %>",
          data: {'selected_id': id},
          error: function(e){
            e.preventDefault();
          },
          success: function(html){
            $(".side-nav").append(html);
            $("#side-nav-toggle").addClass("expanded");
            $(".side-nav").addClass("expanded");
          },
          complete: function(){
          }
      });
    });

    $('#side-nav-toggle').click()
  });
</script>


