<fieldset>
  <div class="row-fluid">
    <div class="span3">
      <div class="profile-pic">
        <img src="/assets/rails.png" class="img-polaroid" width="100px" height="100px"></img>
      </div>
    </div>
    <div class="span6">
      <table class="table">
        <tr>
          <td>Name</td>
          <td><%= "#{@patient.firstname} #{@patient.lastname}" %></td>
        </tr>
        <tr>
          <td>Birthday</td>
          <td><%= "#{@patient.birthday}" %></td>
        </tr>
        <tr>
          <td>Age</td>
          <td><%= "#{@patient.age}" %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span10">
      <table class="table">
        <tr>
          <th>Date of Visit</th>
          <th>Type of Visit</th>
          <th>Chief Complaint</th>
        </tr>
        <% @patient.visits.each do |visit| %>
          <tr>
            <td><%= display_time(visit.created_at) %></td>
            <td><%= visit.type_of %></td>
            <td><%= visit.chief_complaint %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

</fieldset>